* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

header {
  margin-top: 40px;
  display: flex;
  color: white;
  justify-content: space-between;
}

.name h1 {
  margin-left: 40px;
}

.navigator a {
  text-decoration: none;
  color: white;
  margin-right: 30px;
  font-size: 30px;
}

.aboutme {
  margin-top: 60px;
}

.profile {
  text-align: center;
}

.profile img {
  width: 350px;
  border-radius: 50%;
}

.aboutme-title {
  text-align: center;
  color: palevioletred;
  font-size: 50px;
  font-weight: 600;
  margin-top: 40px;
}

.intro {
  margin-top: 60px;
  font-size: 40px;
  font-weight: 500;
  color: white;
  text-align: center;
  line-height: 40px;
}

.intro-plus {
  margin-top: 20px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.tmi-title {
  text-align: center;
  color: salmon;
  font-size: 50px;
  font-weight: 600;
  margin-top: 200px;
}

.tmi-box {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.tmi-box2 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.content {
  margin-right: 20px;
}

.tmi-box img {
  width: 300px;
  height: 350px;
}

.tmi-box p {
  color: white;
  font-size: 25px;
  width: 300px;
  text-align: center;
}

.tmi-box2 img {
  width: 300px;
  height: 350px;
}

.tmi-box2 p {
  color: white;
  font-size: 25px;
  width: 300px;
  text-align: center;
}

.contact-title {
  text-align: center;
  color: skyblue;
  font-size: 50px;
  font-weight: 600;
  margin-top: 200px;
}

.contact-content {
  margin-top: 20px;
  text-align: center;
}

.contact a {
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.bottom {
  margin-top: 100px;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
